
.custom-timeline-element .vertical-timeline-element-content {
  display: none;
}

.custom-timeline-element .vertical-timeline-element-icon {
  border-radius: 50% !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.year-timeline-element .vertical-timeline-element-content {
  background-color: #f97316 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
  box-shadow: none !important;
}

.year-timeline-element .vertical-timeline-element-content .vertical-timeline-element-date {
  color: #fff !important;
}

.year-timeline-element .vertical-timeline-element-icon {
  border-radius: 50% !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
